.top-bar{
  background-color:rgb(56, 64, 54);
  a{
    color: white;
    font-size: 12px;
  }
}

.container{
  margin-top:2%;
}

categories-bar, ul, li , a{
  color:rgb(56, 64, 54);
}

a:focus{
  color: #FBF3E9;
}

.form-control{
   width:100%;
}

.col{
  padding:5px;
}

