<!--  -------------------- NAVBAR --------------------  -->

<header>
  <nav class="navbar navbar-expand-lg bg-light shadow-sm px-4 ">

        <!-- Hamburger button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNexus"
      aria-controls="navbarNexus"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


      <div class="container-fluid top-bar d-flex fixed-top">
        <ul class="nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="">{{ topMenu.home }}</a></li>
          <li class="nav-item"><a class="nav-link" href="">{{ topMenu.about }}</a></li>
          <li class="nav-item"><a class="nav-link" href="">{{ topMenu.place }}</a></li>
          <li class="nav-item"><a class="nav-link" href="">{{ topMenu.events }}</a></li>
          <li class="nav-item"><a class="nav-link" href="">{{ topMenu.contact }}</a></li>
        </ul>
      </div>

      <div class="container">
        <div class="row align-items-center gap-5">
          <div class="col-md-2 d-flex justify-content-center">
            <img src="assets/img/Nexus_book_logo.svg">
          </div>

          <div class="col">
            <form class="d-flex" role="search">
             <input class="form-control " type="search" placeholder="Search by title, author, keyword or ISBN">
          </form>
          </div>

          <div class="col d-flex justify-content-around">
            <a class="nav-link"><i class="bi bi-person-circle"></i></a>
            <a class="nav-link"><i class="bi bi-bag"></i></a>
          </div>
        </div>
      </div>

  </nav>

  <div class="container-fluid categories-bar">
    <ul class="nav justify-content-center">
      <li class="nav-item"><a class="nav-link" href="">{{ bookCategories.fiction }}</a></li>
      <li class="nav-item"><a class="nav-link" href="">{{ bookCategories.nonFiction }}</a></li>
      <li class="nav-item"><a class="nav-link" href="">{{ bookCategories.mysteryThriller }}</a></li>
      <li class="nav-item"><a class="nav-link" href="">{{ bookCategories.romance }}</a></li>
      <li class="nav-item"><a class="nav-link" href="">{{ bookCategories.scienceFiction }}</a></li>
      <li class="nav-item"><a class="nav-link" href="">{{ bookCategories.fantasy }}</a></li>
      <li class="nav-item"><a class="nav-link" href="">{{ bookCategories.horror }}</a></li>
      <li class="nav-item"><a class="nav-link" href="">{{ bookCategories.drama }}</a></li>
      <li class="nav-item"><a class="nav-link" href="">{{ bookCategories.adventure }}</a></li>
      <li class="nav-item"><a class="nav-link" href="">{{ bookCategories.childrensBooks }}</a></li>
      <li class="nav-item"><a class="nav-link" href="">{{ bookCategories.academicBooks }}</a></li>
    </ul>
  </div>

</header>





